<!DOCTYPE html>
<html>

<head>
    <title>听个球</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/all.css" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8" />
</head>

<body>
    <div id="app">
        <div id="world-clock" v-show="showClock">
            <div class="time-zone">
                北京时间: {{timeBeijing}}
            </div>
            <div class="time-zone">
                欧洲中部时间: {{timeCentralEurope}}
            </div>
            <div class="time-zone">
                太平洋时间: {{timePacific}}
            </div>
    
        </div>
    
        <div class="content">
            <div class=" player">
                <!-- <p style="font-size:35px; text-align:center"> &nbsp; 听个球！</p> -->
                <div class="profile-image" :style="{animationDuration: rotationSpeed}"><img src="android-chrome-512x512.png">
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar"></div>
                </div>
                <div class="controls">
                    <button> <i class="fas fa-stop" @click="stopRotationSpeed()"></i> </button>
                    <button class="play-button" @click="setRotationSpeed('+')"> <i
                            class="fa-regular fa-circle-play"></i></button>
                    <button> <i class="fas fa-forward" @click="setRotationFast()"></i></button>
                </div>
                <button v-on:click="copyRandomSongToClipboard" class="random-song-button">
                    &nbsp;不知道听啥？<br> <i class="fa-solid fa-dice"></i> &nbsp; 抽个盲盒！ <i class="fa-solid fa-dice"></i>
                </button>
            </div>
            <div class="intro-panel">
                <h2 style="padding-bottom:0px;">球球</h2>

                <hr style="height:2px;border-width:0;color:rgb(255, 3, 3);background-color:rgb(255, 0, 17)">
                <div class="button-container">
                    <button class="link-button" @click="navigateTo('https://space.bilibili.com/3494377892612607/')">
                        <i class="fa-brands fa-bilibili"></i> 个人空间
                    </button>
                    <button class="link-button" @click="navigateTo('https://live.bilibili.com/30315337')">
                        <i class="fa-solid fa-headphones" style="color:red;"></i> 直播间
                    </button>
                    <button class="link-button" @click="copyQQToClipboard('519157459')">
                        <i class="fa-brands fa-qq" style="color:rgb(0, 229, 255);"></i> <span style="font-size:16px; text-align: left;">QQ群 519157459</span>
                    </button>

                </div>
                <hr style="height:2px;border-width:0;color:rgb(255, 3, 3);background-color:rgb(255, 0, 17)">
                <p>爱若有声音，不止一场海啸</p>
                <p>听歌全凭感觉来，只有音乐最安全。</p>
                <p>全职非专业反差杂谈鸽势~</p>
            </div>
        </div>
        
        
        <!-- Below is the table-->
        <div v-cloak class="list-container">
            <!-- <h2 style="text-align: center; color:floralwhite; text-size-adjust:5em;">歌单!!!</h2> -->
            <hr style="height:2px;border-width:0;color:rgb(251, 6, 6);background-color:rgb(239, 57, 81); width:65%;">
            <p></p>
            <div class="search-container">
                <input type="text" v-model="searchInput" placeholder="搜索歌名或歌手">
                <select v-model="selectedGenre">
                    <option disabled value="">分类(？)</option>
                    <option v-for="genre in genres" :value="genre">{{genre}}</option>
                </select>
            </div>
            <table v-cloak class="table-container" id="song-table">
                <thead>
                    <tr>
                        <th>歌名</th>
                        <th>歌手</th>
                        <th>类别</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="song-details">
                    <tr v-for="song in filteredSongs" :keys="song.name" @click="copyToClipboard(song.name)">
                        <td>{{song.name}}</td>
                        <td>{{song.artist}}</td>
                        <td>{{song.genre}}</td>
                        <td>
                            <button class="copy-button"><i class="fa-regular fa-copy"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        
            <div v-cloak class="text-container">
                <p>目前收录共 {{songs.length}} 首歌</p>
            </div>
        
        </div>
        <a href="#" class="back-to-top" :class="{ 'show': showBackToTop } " @click="scrollToTop">
            <i class="fa-solid fa-caret-up"></i>TOP
        </a>
        <div v-cloak v-if="showCopyConfirmation" class="copy-confirmation">
            <i class="fa-regular fa-circle-check"></i> &nbsp; "{{copiedSongName}}" 已复制到剪贴板！
        </div>
        <footer>
            <p>Designed by <a href="https://space.bilibili.com/1596728">Kid魔术师</a> |
                <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备2024213013号</a>
            </p>
        </footer>
        </div>
        
        <script src="clipboard.min.js"></script>
        <script src="papaparse.min.js"></script>
        <script src="vue.min.js"></script>
        <script src="script.js"></script>
        
        </body>
        
        </html>