body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff5f6d, #ffc371);
    background-size: cover;
    background-attachment: fixed
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.content {
    display: flex;
    max-width: 800px;
    min-width: 800px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}


.player {
    flex: 0;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-right: 1px solid #e0e0e0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 20px;
}

.intro-panel {
    flex: 1;
    padding: 20px;
}

.intro-panel h2 {
    margin-top: 0;
}

.intro-panel p {
    font-size: 20px;
}

.profile-image {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-color: rgb(248, 35, 78);
    border-style: solid;
    border-width: 5px;
    position: center;
    overflow: hidden;
    border-radius: 50%;
    animation: rotate infinite linear;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.progress-bar-container {
    width: 100%;
    margin: 10px 0;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 5px;
    background: #ff2d55;
    width: 65%;
    /* Static progress set to 60% */
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.controls button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #f94163;
    padding: 10px;
}

.controls .play-button {
    font-size: 30px;
    color: #ff2d55;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}





@media (min-width: 768px) {
    .floating-image.desktop-only {
        display: block;
        /* Show the image on desktop screens */
        position: fixed;
        top: 50%;
        height: auto;
        width: 15%;
        right: 100px;
        transform: translateY(-50%);
        z-index: 9999;
    }
}


#world-clock {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #f3f3f360;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    display: none;
}

.time-zone {
    margin-bottom: 10px;
}

#world-clock .time-zone:last-child {
    margin-bottom: 0;
}

.header
{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
}


.fa-dice,.fa-blog{
    color: #ff2d55;
}

.fa-house,
.fa-bilibili {
    color: #007bff
}


.button-container{
    display:block;
}
.search-container {
    display: flex;
}

.fast-button {
    flex: 1;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    width: fit-content;
    border: none;
    font-size: 26px;
    cursor: pointer;
    border-radius: 15px;
    height: 40px;
    white-space: normal;
    word-wrap: break-word;
    max-height: 40px;
    border-style: solid;
    border-color: #1282f3;
    border-width: 2px;
}

.link-button
{
    flex: 1;
    margin-right: 5px;
    font-size: 19px;
    width: fit-content;
    border: 3px;
    border-color: #007bff;
    background-color: #fdfeff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    height: 25px;
    white-space: normal;
    word-wrap: break-word;
    max-height: 25px;
}

.random-song-button {
    flex: 1;
    margin-right: 5px;
    font-size: 18px;
    width: fit-content;
    border: 3px;
    border-color: #007bff;
    background-color: #fdfeff;
    color: rgb(253, 28, 47);
    cursor: pointer;
    border-radius: 15px;
    height: 32px;
    white-space: normal;
    word-wrap: break-word;
    max-height: 32px;

    margin-bottom: 15px;
    align-items: center;
    text-align: center;
}
.list-container {
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    color: #333;
    background:#fff;
    margin:20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
    min-width: 770px;
    width:auto;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.search-container input,
.search-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
    width: 48%;
}

.search-container input:focus,
.search-container select:focus {
    border-color: #007aff;
}

table {
    width: fit-content;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 10px 20px;
}

th {
    background-color: #f5f5f5;
    color: #fc2a51;
    font-weight: bold;
    font-size: large;
}

tr {
    border-bottom: 1px solid #e0e0e0;
}

td {
    /*background-color: #FFFBF5;*/
    color: #666;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}

th.songname,
td.songname {
    width: 45%;
}

th.artist,
td.artist {
    width: 25%;
}

th.genre,
td.genre {
    width: 25%;
}

th.cpbutton,
td.cpbutton {
    width: 5%;
}


/*
tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #efefef;
}
*/

table tr {
    cursor: pointer;
}

tr:hover {
    background-color: #ffe62b78;
}


.copy-button {
    padding: 3px 12px;
    border: none;
    background-color: #f31246;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
    font-size: 22px;
}

.copy-confirmation {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    top: 10%;
    background-color: #007bff;
    width: fit-content;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
}

.back-to-top {
    position: fixed;
    bottom: 80px;
    left: 40px;
    background-color: #55a8fbed;
    color: rgb(251, 251, 251);
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 6px;
    z-index: 9999;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    cursor: pointer;
    font-size: 25px;
    visibility: hidden;
    border-radius: 5px;
    border-width: 1px;
    align-items: center;
    text-align: center;
}

.back-to-top.show {
    opacity: 1;
    transform: trasnslateX(0);
    visibility: visible;
}

.text-container {
    flex: 1;
    text-align: center;
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.back-to-top i {
    margin-right: 5px;
}

[v-cloak] {
    display: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    /* Choose a background color that fits your design */
}

footer p {
    margin: 0;
    padding: 0;
    color: #333;
    /* Choose a text color that fits your design */
}

footer a {
    color: #007bff;
    /* Choose a link color that fits your design */
}

/* Optional: to stick the footer at the very bottom if the page content is short */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

#app {
    flex: 1;
}

@media only screen and (hover: none) and (pointer: coarse) {

    input,
    select
    {
        align-items: center;
        width: 100%;
        font-size: 30px;
        height: 70kpx;
    }

    td,
    th,
    .copy-button {
        align-items: center;
        font-size: 35px;
        height: 50px;
    }

    .profile-image {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        position: relative;
        overflow: hidden;
        animation: rotate 10s infinite linear;
    }

    .copy-confirmation {
        font-size: 35px;
    }

    .back-to-top {
        position: fixed;
        padding-left: 12px;
        padding-right: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        z-index: 9999;
        transition: opacity 0.3s, transform 0.3s;
        opacity: 0;
        cursor: pointer;
        font-size: 50px;
        visibility: hidden;
        border-radius: 5px;
        border-width: 10px;
        border-color: black;
        align-items: center;
        text-align: center;
    }

    .random-song-button {
        font-size: 16px;
        align-items: center;
        text-align: center;
        max-height: 30px;
    }
.button-container{
    display:flex;
}
    .link-button {
        align-items: center;
        width: 100%;
        font-size: 18px;
        height: 25px;
    }


}